# "Commons Clause" License Condition v1.0
#
# The Software is provided to you by the Licensor under the License, as defined
# below, subject to the following condition.
#
# Without limiting other conditions in the License, the grant of rights under the
# License will not include, and the License does not grant to you, the right to
# Sell the Software.
#
# For purposes of the foregoing, “Sell” means practicing any or all of the rights
# granted to you under the License to provide to third parties, for a fee or
# other consideration (including without limitation fees for hosting or
# consulting/ support services related to the Software), a product or service
# whose value derives, entirely or substantially, from the functionality of the
# Software. Any license notice or attribution required by the License must also
# include this Commons Clause License Condition notice.
#
# Software: Infinitic
#
# License: MIT License (https://opensource.org/licenses/MIT)
#
# Licensor: infinitic.io

version: "3.7"
services:
  pulsar:
    image: apachepulsar/pulsar-all:2.6.1
    environment:
      - BOOKIE_MEM=" -Xms512m -Xmx512m -XX:MaxDirectMemorySize=1g"
    command: >
      /bin/bash -c "bin/apply-config-from-env.py conf/standalone.conf && bin/pulsar standalone"
    volumes:
      - "pulsardata:/pulsar/data"
      - "pulsarconf:/pulsar/conf"
      - "../infinitic-engine-pulsar/build/libs:/infinitic/libs:delegated"
      - "../infinitic-engine-pulsar/build/schemas:/infinitic/schemas:delegated"
    ports:
      - "6650:6650"
      - "8080:8080"
      - "8081:8081"
    restart: unless-stopped

  dashboard:
    image: apachepulsar/pulsar-manager:v0.2.0
    ports:
      - "9527:9527"
    depends_on:
      - pulsar
    links:
      - pulsar
    volumes:
      - "pulsardata:/data"
    environment:
      REDIRECT_HOST: "http://127.0.0.1"
      REDIRECT_PORT: "9527"
      DRIVER_CLASS_NAME: "org.postgresql.Driver"
      URL: "jdbc:postgresql://127.0.0.1:5432/pulsar_manager"
      USERNAME: "pulsar"
      PASSWORD: "pulsar"
      LOG_LEVEL: "DEBUG"

  # Uncomment the following block if you want to use a Redis storage for persistence of states. There is also a volume to uncomment at the bottom of the file.
#  redis:
#    image: redis:6.0-alpine
#    ports:
#      - "6379:6379"
#    volumes:
#      - "redisdata:/data"

volumes:
  pulsardata:
  pulsarconf:
  # Uncomment the following volume if you want to use a Redis storage for persistance of states
#  redisdata:
